a, a > code {
  color: #2b5d7d;
  font-weight: bold;
  border-bottom: 1px dotted #2b5d7d;
  text-decoration: none;
  transition: all .2s ease-in-out
}

a:hover { 
  font-size: 1.05em; 
  border-bottom: 1px solid #2b5d7d; 
}

.highlight {
    background-color: rgba(71, 123, 139,.2); /* light green*/
    /*background-color: rgba(162, 218, 140,.2); lturquoise*/
}

.remark-slide-number { font-size: 0.6em; }

.remark-code-line-highlighted { background-color: #fce300 ; }

.remark-slide-content {
  border-right: 11px solid #47788B;
  border-left: 11px solid #47788B;
  padding: 1em 7em 1em 7em
}

.remark-slide-content > h1 {
  font-weight: normal;
  margin-top: 10px;
  margin-left: -00px;
}

.remark-slide-content > h2, .pull-left > h2, .pull-right > h2 {
  font-size: 35px;
}
.remark-slide-content > h3, .pull-left > h3, .pull-right > h3 {
  font-size: 25px;
}

h1, h2, h3 {
  font-weight: normal;
  color: #47788B;
}

.inverse {
  border-left: 11px solid #fff;
  border-right: 11px solid #fff;
  background-color: #47788B;
  color: #d6d6d6;
}

.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
}

.inverse a:hover { 
  font-size: 1.05em; 
  border-bottom: 1px solid #666; 
}

table {
  margin: auto;
  font-size: 90%;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

.center {
  align-content: center;  
}

.right {
  align-content: right;  
}

.left {
  align-content: left;  
}

.shrink {
  margin: auto;
  width: 90%;
}

.enlarge{
  margin: auto;
  width: 110%;
}
body {
  background-position: center;
}
